<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h1>Hello, World!</h1>
    <button id="test-click">Test Click</button>
    <div class="content">

    </div>

    <script>
        obj1 = {
            "currency": "USA",
            "cash_buying": 30.5,
            "cash_selling": 29.5,
            "spot_buying": 30,
            "spot_selling": 29
        }

        obj2 = {
            "currency": "JP",
            "cash_buying": 3,
            "cash_selling": 2,
            "spot_buying": 3,
            "spot_selling": 2
        }

        const renderTarget = document.querySelector(".content");
        input_json = [obj1, obj2]

        document.querySelector("#test-click").onclick = () => {
            render_table(input_json, document.querySelector(".content"));
        }
    </script>
    <script src="render.js"></script>
</body>

</html>
